QPushButton {
  border-radius: 5px;
  background: transparent;
  padding: 10px;
}
QPushButton:hover {
  border: 1px solid black;
}

QTabBar::tab {
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 14px;
  color: #999;
  border-right: 2px solid #ddd;
}

QTabBar::tab::selected {
  background: #fff;
  color: #333;
}

QTabBar::tab::first-child {
  border-left: 2px solid #ddd;
}

#Toolbar {
  background: #fff;
  border: none;
  border-bottom: 2px solid #ddd;
}
